<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nomad</title>
    <link rel="icon" href="../media/logo-icon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css"
    />
  </head>
  <body>
    <nav class="nav-bar">
      <ul class="navItems">
        <li class="logo">
          <a href="index.html" class="logo-link">
            <img src="../media/logo.png" alt="logo" id="nav-logo" />
            <p id="logo-title">NOMAD</p>
          </a>
        </li>

        <li class="item">
          <a href="myTrip.html" class="nav-link">
            <img
              src="../media/my-trips-nav.png"
              alt="compass"
              class="nav-icon"
            />
            <span class="link-text">My Trips</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <section id="main-section">
        <div class="header-title">
          <h1 class="fade-in slide-in-top">
            Plan Your<br />
            <span>Perfect Trip</span>
          </h1>
        </div>
        <div class="main-form fade-in slide-in-top">
          <form id="form-submit" autocomplete="off">
            <div class="group">
              <input
                type="text"
                id="currentLocation"
                placeholder="Where are you from?"
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>From</label>
            </div>
            <div class="group">
              <input
                type="text"
                id="destination"
                placeholder="Where are you going?"
              />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>To</label>
            </div>
            <div class="group">
              <input type="date" id="checkInDate" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Check-In</label>
            </div>
            <div class="group">
              <input type="date" id="checkOutDate" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Check Out</label>
            </div>
            <div class="group">
              <input
                type="submit"
                id="submit"
                class="submit-btn"
                value="Submit"
              />
            </div>
          </form>
        </div>
        <div class="alert fade-in">
          <span
            class="closebtn"
            onclick="this.parentElement.style.display='none';"
            >&times;</span
          >
          Trip Added Successfully<br />
          <a href="./myTrip.html">View Trip &#8594;</a>
        </div>
      </section>
    </div>
    <footer>
      <p>
        Made with &#129505; by
        <a
          href="https://www.linkedin.com/in/abdelwahab-muhammed"
          target="_blank"
          id="footer-link"
          >Abdelwahab Muhammed</a
        >
      </p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
